
<div id="color">

  <div class="contenedor-principal">
    <!-- Credencial -->
    <div id="credencial" class="credencial-container">
      <div class="imagen-container">
        <img src="im.jpg" alt="Foto de usuario">
      </div>
      <div class="datos-container">
        <p>{{ receivedData.name || '' }}</p>
        <p>{{ receivedData.telefono || '' }}</p>
        <p>{{ receivedData.email || '' }}</p>
        <p><strong>Dirección:</strong> {{ receivedData.direccion || '' }}</p>
        <p><strong>ID:</strong> {{ receivedData.id || '' }}</p>
      </div>
    </div>
    
    <!-- Formulario -->
    <div id="formulario" class="formulario-container">
      <label for="monto">Monto</label>
      <input type="number" id="monto" (input)="onMontoChange($event)">
      
      <label for="plazos">Plazo de meses</label>
      <select id="plazos" (change)="onPlazoChange($event)">
        <option value="" disabled selected>Seleccione el plazo</option>
        <option value="1">1 mes</option>
        <option value="2">2 meses</option>
        <option value="3">3 meses</option>
        <option value="4">4 meses</option>
        <option value="5">5 meses</option>
        <option value="6">6 meses</option>
        <option value="7">7 meses</option>
        <option value="8">8 meses</option>
        <option value="9">9 meses</option>
        <option value="10">10 meses</option>
        <option value="11">11 meses</option>
        <option value="12">12 meses</option>
      </select>
      
      <label for="interes">Interés Mensual (10%)</label>
      <input type="text" id="interes" [value]="interes | currency" disabled>
      <button>Guardar</button>
      
    </div>
  </div>
</div>
