header {
    background-color: #044338; 
    color: white;
    padding: 16px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
    height: 50px;
}

ul {
    display: flex;
    list-style: none; 
    padding: 0;
}

li {
    margin: 0 36px;
}

a {
    text-decoration: none; 
    color: white; 
    font-size: 20px;
}

a:hover {
    
    display: flex; 
    justify-content: center;
    align-items: center;
}
