<header class="bg-blue-600 text-white p-4">
    <nav class="container mx-auto flex justify-between items-center">
      <ul class="flex space-x-4 ml-auto"> <!-- Agregamos ml-auto -->
        <li>
          <a href="/inicio" class="hover:underline">Inicio</a>
        </li>
        <li>
          <a href="/registro" class="hover:underline">Registro</a>
        </li>
        <li>
          <a href="/pago" class="hover:underline">Pago</a>
        </li>
      </ul>
    </nav>
  </header>
  
  