.contenedor-principal {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  .resumen-container {
    width: 40%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .tabla-pagos-container {
    width: 50%;
  }
  
  .tabla-pagos {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  .tabla-pagos th, .tabla-pagos td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .tabla-pagos th {
    background-color: #007BFF;
    color: white;
  }
  
  .tabla-pagos td {
    font-size: 16px;
  }
  
  .btn-pagar {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-pagar:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .mensaje-cancelacion {
    text-align: center;
    background-color: #28a745;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
  }
  
  .mensaje-cancelacion h3 {
    font-size: 24px;
  }
  
  .mensaje-cancelacion p {
    font-size: 18px;
  }
  